*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container
{
    width: 100%;
    height: 100vh;
    background: lightpink;
    display: flex;
    align-items:center;
    justify-content: center;
}
.calculator
{
    background: rgb(52, 46, 47);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input
{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
}
.display
{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
 form .display input
{
    flex: 1;
    font-size: 45px;
    text-align: right;
    box-shadow: none;
}
form input.operator
{
    color:rgb(12, 189, 243);
}
 form input.equal
 {
    width: 160px;
 }